.App {
  text-align: center;
  min-height: 100vh !important;
  min-width: 100vw !important;
  color: #3C3C3C; 
  background-color: #47abe0;
}

html, body{
  height: 100% !important;
  width: 100% !important;
}
